<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>

    <pipelines>
      <processMessage>
        <!-- Replace default ProcessMessage SendEmail with Exchange Web Services (EWS) secure e-mail delivery. -->
        <processor type="Sitecore.Form.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.Forms.Core" method="SendEmail">
          <patch:attribute name="type">Sitecore.WffmExtensions.Core.Pipelines.ProcessMessage.ProcessMessage, Sitecore.WffmExtensions</patch:attribute>
          <patch:attribute name="method">SendEwsEmail</patch:attribute>
        </processor>
      </processMessage>
    </pipelines>
    
    <wffm>
      <!-- Replace WFFM AnalyticsDataProvider with Extended AnalyticsDataProvider providing more functionality and configuration. -->
      <formsDataProvider type="Sitecore.WFFM.Analytics.Providers.AnalyticsDataProvider, Sitecore.WFFM.Analytics" singleInstance="true">
        <patch:attribute name="type">Sitecore.WffmExtensions.Analytics.Providers.AnalyticsDataProvider, Sitecore.WffmExtensions</patch:attribute>
      </formsDataProvider>
    </wffm>
    
    <settings>
      <!-- SendEwsEmail settings
      
            ExchangeVersion (options): Exchange2007_SP1, Exchange2010, Exchange2010_SP1, Exchange2010_SP2, Exchange2013, Exchange2013_SP1
            Note: Username must have permissions to send on FromEmail address.
      -->
      <setting name="Sitecore.WffmExtensions.ProcessMessage.SendEwsEmail.ExchangeVersion"  value="Exchange2013_SP1" />
      <setting name="Sitecore.WffmExtensions.ProcessMessage.SendEwsEmail.ExchangeUrl"      value="https://url_here" />
      <setting name="Sitecore.WffmExtensions.ProcessMessage.SendEwsEmail.UserName"         value="name_here" />
      <setting name="Sitecore.WffmExtensions.ProcessMessage.SendEwsEmail.UserDomain"       value="domain_here" />
      <setting name="Sitecore.WffmExtensions.ProcessMessage.SendEwsEmail.UserPassword"     value="password_here" />
      <setting name="Sitecore.WffmExtensions.ProcessMessage.SendEwsEmail.FromEmail"        value="from_email_here" />

      <!-- Extended AnalyticsDataProvider settings
            
            AutoStoreValues (options): 'False' or 'True' if submitted form values placed in MongoDb, MSSQL and exported reports.
            AutoStoreDisabledReplacementValue: Value used when auto store is disabled so that a desired value can be placed in MongoDb, MSSQL and exported reports.
      -->
      <setting name="Sitecore.WffmExtensions.AnalyticsDataProvider.AutoStoreValues"                   value="true" />
      <setting name="Sitecore.WffmExtensions.AnalyticsDataProvider.AutoStoreDisabledReplacementValue" value="VALUE_NOT_STORED" />
    </settings>
  </sitecore>
</configuration>
